<!DOCTYPE html>
<html lang="en">


<!-- # # # # # # # # # # # # # # Head # # # # # # # # # # # # # # -->


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="sva-logo-2024nobackground.png" type="image/png">
    <link rel="stylesheet" href="styles.css">
    <title>Bar Roboter</title>
</head>


<!-- # # # # # # # # # # # # # # Header # # # # # # # # # # # # # # -->


<header class="headerbox">
    <a href="index.html"><img src="sva-logo-2024.png" class="svalogo"></a>
    <center>
        <a href="index.html" class="robotname">Virgin Colada</a>
    </center>
</header>


<!-- # # # # # # # # # # # # # # Body # # # # # # # # # # # # # # -->


<body>
    <img src="c1.png" class="c_pic" href="info_c1.html">
    <div style="padding-top: 100px">
            <h1 class="zutat">Coconut Cream - 4cl</h1>
    </div>
    <div style="padding-top: 15px">
            <h1 class="zutat">Orangensaft - 6cl</h1>
    </div>
    <div style="padding-top: 15px">
            <h1 class="zutat">Ananassaft - 8cl</h1>
    </div>
    <div style="padding-top: 15px">
            <h1 class="zutat">Eiswürfel</h1>
    </div>
    <div style="padding-top: 15px">
            <h1 class="zutat">Wasser - 100ml</h1>
    </div>

</body>
</html>
