<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../pictures/sva-logo-2024nobackground.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Bar Roboter</title>
</head>

<header class="headerbox">
    <a href="/"><img src="../pictures/sva-logo-2024.png" class="svalogo"></a>
    <center>
        <a href="/" class="robotname">DrinkName</a>
    </center>
</header>

<body>
    <center>
        <div class="robotname" style="padding-top: 70px;">Ihr Getränk wird zubereitet<span class="dots"></span></div>
    </center>
    <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>
    
    <div class="markers">
        <div class="marker" style="left: 25%;">25%<span class="line"></span></div>
        <div class="marker" style="left: 50%;">50%<span class="line"></span></div>
        <div class="marker" style="left: 75%;">75%<span class="line"></span></div>
        <div class="marker" style="left: 100%;">100%<span class="line"></span></div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        // Initialize WebSocket connection
        var socket = io();

        // Listen for progress updates
        socket.on('progress_update', function(data) {
            setProgress(data.progress);
        });

        // Listen for redirect command
        socket.on('redirect_to_index', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>
